@model IEnumerable<CourseApp.Models.Instructor>
@{
    ViewData["Title"] = "Index";
}


<div class="m-4">

    <div class="bg-success text-white p-4">
        Instructors
    </div>

    @foreach (var item in Model)
    {
    <div class="bg-primary text-white p-2 mt-3 text-center">
        @item.Name
        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
            Edit
        </a>
        <a asp-action="Create" asp-route-id="@item.Id" class="btn btn-info btn-sm">
            Create
        </a>
    </div>

        @if (item.Courses == null || item.Courses.Count() == 0)
        {
            <div class="text-center p-2">No Courses</div>
        }
        else if (ViewBag.InstructorEditId == item.Id)
        {
            @Html.Partial("InstructorEdit", item)
        }
        else
        {
            @foreach (var course in item.Courses)
            {
                <div class="row mb-1">
                    <div class="col">
                        @course.Name
                    </div>
                    <div class="col">
                        @course.Price
                    </div>
                </div>
            }
            if (ViewBag.InstructorCreateId == item.Id)
            {
                @Html.Partial("InstructorCreate",item)
            }
        }
    }

</div>
